
const firebaseConfig = {
  apiKey: "AIzaSyC6JtG5f-_xSurTu_Iu3HqfuvPx1YcEOhs",
  authDomain: "kinderbazar-team.firebaseapp.com",
  projectId: "kinderbazar-team",
  storageBucket: "kinderbazar-team.firebasestorage.app",
  messagingSenderId: "559417487049",
  appId: "1:559417487049:web:935f1b7bc4c091f56b2718"
};