@import "tailwindcss";

@theme {
  --color-brand-50: #fff0f6;
  --color-brand-100: #ffe0ee;
  --color-brand-200: #ffbedd;
  --color-brand-300: #ff8fc4;
  --color-brand-400: #fa5aa5;
  --color-brand-500: #ec2c85;
  --color-brand-600: #d31768;
  --color-brand-700: #ac0e54;
  --color-brand-800: #8c1049;
  --color-brand-900: #751142;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-brand-50 text-neutral-800 antialiased;
}

::selection {
  @apply bg-brand-200 text-brand-900;
}
